/*--parametros generales del cuerpo de imagenes 360--*/
body {
	background-color: rgb(27, 27, 27);
}

.main {
	
	margin-left: 25%;
	margin-top: 200px;
	position: relative;
	height: 100%;
	width: 50%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: .6vh;	
}
.box-img img{
	height:100%;
	width: 100%;
	object-fit: cover;
	
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	transition: all 2s;
}




#iframe1 {
	grid-row: 1/2;
	grid-column: 1/2;}

#iframe2 {
	grid-row: 1/2;
	grid-column: 2/3;}

#iframe3 {
	grid-row: 1/2;
	grid-column: 3/4;}

#iframe4 {
	grid-row: 2/4;
	grid-column: 1/2;}
	
#iframe5 {
	grid-row: 2/4;
	grid-column: 2/3;}

#iframe6 {
	grid-row: 2/3;
	grid-column: 3/4;}

#iframe7 {
	grid-row: 3/4;
	grid-column: 3/4;}

#iframe8 {
	grid-row: 4/5;
	grid-column: 1/2;}

#iframe9 {
	grid-row: 4/5;
	grid-column: 2/4;}
		





	footer hr {
		
		width: 90%;
		margin-left: 5%;
		color: white;
	}
	
	footer p {
		font-size: 12px;
	
		text-align: center;
		color: white;
	}
	
		

/*--tablet responsive--*/


/*--mobile responsive--*/

@media only screen and (max-width: 850px) {

.main {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: 96.5%;
	height: 100%;
}

.box-img iframe{
	height:300px;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	-khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-select: none;
	transition: all 2s;
}




}