* {
	margin-top: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
    overflow-y: hidden;
    overflow-x: hidden;
	margin: 0;}

body {
	display: flex;
	flex-direction: column;}

.navbar {  
    z-index: 1; 
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  
}

.nav-textUno {
    margin-top: 0px;
    margin-bottom: 0px;
 }


.flex-icon{
    margin-top: 5px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin-left: 1px;
}
.social-icon a{
    
    font-size: .8rem;
    text-decoration: none;
    list-style: none;
    color: black;
    
}
.social-icon a:hover{
    text-decoration: none;
    list-style: none;
    color: #f01f50;
}
.top-navbar {
    transition: .1s;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-navbar.active {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.nav-text {
   
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: -170px;
    transition: .2s;

}

.nav-text.active{
    height: 100px;
    top: 0vh;
    background-color: white;
}

.top-navbarDivUno {
    margin-top: 10px;
}

.top-navbarDivUno a{   
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.nav-menu{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-menuDos{
	text-decoration: none; 
	list-style-type: none;  
 	margin-top: 5px;
  	height: 90px;
}
.nav-menuDos a{
    margin-left: 25px; 
    text-decoration: none;
   color: black;
    font-size:.78rem;
}

.nav-menuDos a:hover{
    cursor: pointer;
    color: #f01f50;

}
.nav-itemDos {
    margin-top: 2px;
    font-size:.78rem;
   margin-left: 25px; 
}

.nav-itemDos a{
   
   margin-left: 0px; 
}

.nav-item {
    margin-right: 30px;
    text-decoration: none;
    font-size: 1.5rem; 
}
.nav-item a{
    font-weight: 900;
    text-decoration: none;
    color: black;
}
.nav-branding {
    font-family: 'Poppins', Times, serif;
    transition: .1s;
    margin-left: 25px;
    color: white;
    font-size: 2.5rem;
}
.nav-branding.active {
    margin-left: 25px;
    color: black;
    font-size: 2.5rem;
}
.nav-link {
    
}
.nav-link:hover {
    color: #f01f50;
}
.bar {
    display: block ;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.div-bar {
    margin-left: .8px;
    margin-top: 10px;
}
.hamburger {
    cursor: pointer;
    margin-top: 15px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
.div-bar.active .bar:nth-child(2){
    opacity: 0;
}
.div-bar.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.div-bar.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


/*--parametros generales del cuerpo de supervideo--*/


.sectiondos{
    display: flex;
    flex-direction: row;
}
.textandimage {
    background-color: black;
    height: 100vh;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 10px;
}
.textandimagedivdos {
    position: relative;
    width: 100%;
    height: 100vh; 


}



.bottom-text {
    left: 50px;
    bottom: 4.4%;
    font-family: 'Times New Roman', Times, serif;
}
.left-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    left: 50px;
    top: 90%;
    transform: translateY(-50%);
}

#arecoGardens {
    position:relative;
    bottom: 0;
    left: 0;
}

.textandimagediv{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
 
    
}

.textandimagediv  p{
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    margin-left: 15%;
    line-height: 3.5rem;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    width:75%;
    color: white;
}




















  
  .container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    text-align: left;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .carousel .slide .caption h1{
    margin-left: 30px;
    text-align: left;
  }
  .carousel .slide .caption p{
    margin-left: 30px;
    text-align: left;
  }
  .slide {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    text-align: left;
    opacity: 1;
    z-index: 0;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caption {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    text-align: left;
    bottom: 100px;
  
  }
  
  .caption h1 {
    text-align: left;

    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 1.6rem;
  }
  
  .caption p {
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 1rem;
  }
  
  .smooth-transition {
    transition: transform 0.5s ease-in-out;
  }
  
  .dots {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    margin-bottom: 50px;
    margin-right: 50px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #f01f50;
  }

  










































.supervideo {
    height: 100vh;
}
.videoloch {
    height: 100vh;
    object-fit: cover;

	width: 100%;
	
	
}


/*--tablet responsive--*/
@media only screen and (max-width: 1200px) and (min-width: 700px)  {
    .sectiondos{
        display: none;
    }

    
    .sectiontres{
        display: none;
    }

    .sectioncuatro{
        display: none;
    }

    .sectioncinco{
        display: none;
    }

}

/*--mobile responsive--*/

@media only screen and (max-width: 850px) {

.nav-itemDos {
    margin-top: 2px;
    font-size:.9rem;
    margin-left: 0px;
    text-align: center;
   }

.flex-icon{
    margin-top: 15px;
    justify-content: space-evenly;
   }
   
.nav-textUno {
   margin-bottom: 40%;
}
.navbar {  
    z-index: 1; 
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menuDos{

    margin-top: 0px;
    height: auto;
}
.nav-text {
    top: -100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    transition: .2s;
    }
.nav-text.active{
    height: 100vh;
    background-color: white;
    }
.nav-menu{ 
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.top-navbar {
    transition: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
.top-navbar.active {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    }
    
.nav-item {
   
    
    text-decoration: none;
    font-size: 1rem;
    
   
}
.nav-menu li{
        margin: 0;
        text-align: center;      
        margin-top: 30px;
    }

.top-navbarDivUno {
    margin-top: 18px;
}
    



.sectiondos{
        display: none;
    }

.sectiontres{
        display: none;
    }

.sectioncuatro{
        display: none;
    }

    .sectioncinco{
        display: none;
    }


    .nav-menuDos a{
        margin-left: 0;
        width: 100%;
text-align: center;        text-decoration: none;
       color: black;
        font-size:.9rem;
    }
    

    
    }
    
    
