* {
	margin-top: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
    overflow-y: hidden;
	margin: 0;}

body {
	display: flex;
	flex-direction: column;}

.navbar {  
    z-index: 9999; 
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  
}
.flex-icon{
    margin-top: 5px;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
}
.social-icon a{
    font-size: .8rem;
    text-decoration: none;
    list-style: none;
    color: black;
    
}
.social-icon a:hover{
    text-decoration: none;
    list-style: none;
    color: #f01f50;
}
.top-navbar {
    transition: .1s;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-navbar.active {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}
.nav-text {
   
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: -200px;
    transition: .2s;

}

.nav-text.active{
  
    top: 0vh;
    background-color: white;
}

.top-navbarDivUno {
    margin-top: 10px;
}

.top-navbarDivUno a{   
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.nav-menu{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-menuDos{
    margin-top: 50px;
  height: 65px;
}
.nav-itemDos {
    margin-top: 2px;
    font-size:.9rem;
   margin-left: 25px; 
}
.nav-item {
    margin-right: 30px;
    text-decoration: none;
    font-size: 1.5rem; 
}
.nav-item a{
    font-weight: 900;
    text-decoration: none;
    color: black;
}
.nav-branding {
    transition: .1s;
    margin-left: 25px;
    color: white;
    font-size: 2.5rem;
}
.nav-branding.active {
    margin-left: 25px;
    color: black;
    font-size: 2.5rem;
}
.nav-link {
    transition: 0.7s ease;
}
.nav-link:hover {
    color: #f01f50;
}
.bar {
    display: block ;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
.div-bar {
    margin-left: .8px;
    margin-top: 10px;
}
.hamburger {
    cursor: pointer;
    margin-top: 15px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
.div-bar.active .bar:nth-child(2){
    opacity: 0;
}
.div-bar.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.div-bar.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}


/*--parametros generales del cuerpo de supervideo--*/


.sectiondos{
    display: flex;
    flex-direction: row;
}
.textandimage {
    background-color: black;
    height: 100vh;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text {
    position: absolute;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 10px;
}
.textandimagedivdos {
    position: relative;
    width: 100%;
    height: 100vh; 
}
.bottom-text {
    left: 50px;
    bottom: 4.4%;
    font-family: 'Times New Roman', Times, serif;
}
.left-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    left: 50px;
    top: 90%;
    transform: translateY(-50%);
}
.textandimagediv  p{
    font-family: 'Poppins', sans-serif;
    width: 100%;
} 
#arecoGardens {
    position:relative;
    bottom: 0;
    left: 0;
}
.textandimagediv  p{
    margin-left: 10%;
    line-height: 3.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 40vh;
    font-size: 1.4rem;
    width: 80%;
    color: white;
}
.supervideo {
    height: 100vh;
}
.videoloch {
    height: 100vh;
    object-fit: cover;

	width: 100%;
	
	
}


/*--tablet responsive--*/
@media only screen and (max-width: 1200px) and (min-width: 700px)  {
    .sectiondos{
        display: none;
    }

    
    .sectiontres{
        display: none;
    }

    .sectioncuatro{
        display: none;
    }

}

/*--mobile responsive--*/

@media only screen and (max-width: 850px) {

.nav-itemDos {
    margin-top: 2px;
    font-size:.9rem;
    margin-left: 0px;
    text-align: center;
   }

.flex-icon{
    margin-top: 15px;
    justify-content: space-evenly;
   }
   
.nav-textUno {
   margin-bottom: 40%;
}
.navbar {  
    z-index: 9999; 
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menuDos{

    margin-top: 0px;
  height: auto;
}
.nav-text {
    top: -100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    transition: .2s;
    }
.nav-text.active{
    height: 100vh;
    background-color: white;
    }
.nav-menu{ 
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.top-navbar {
    transition: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
.top-navbar.active {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: none;
    }
    
.nav-item {
   
    
    text-decoration: none;
    font-size: 1rem;
    
   
}
.nav-menu li{
        margin: 0;
        text-align: center;      
        margin-top: 30px;
    }

.top-navbarDivUno {
    margin-top: 18px;
}
    



.sectiondos{
        display: none;
    }

.sectiontres{
        display: none;
    }

.sectioncuatro{
        display: none;
    }



    
    }
    
    
