* {
	margin-top: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	margin: 0;}

body {
	display: flex;
	flex-direction: column;}


	/* width */
::-webkit-scrollbar {
	width: 10px;
  }

  .newtittle a{
    font-size: 2rem;
    text-decoration: none;
    color:  white;
    text-decoration-style: none;
    list-style-type: none;
    
  }

  .newtittle a:hover{
	color: #f01f50;
	transform: scale(1.2);
	
}


  
/*--barra fija arriba--*/

.phonenavbar {
	display: none;}

.fade-in {
	opacity: 0;
	transition: opacity 2000ms ease-in;
	}
	  
.appear {
	
	opacity: 1;}
	  

.navbar-noboots {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	height: 50px;
	position: fixed;
	z-index: 9999999;
	width: 100%;
	background: none;
	justify-content: center;
	border-bottom: 0px solid #000;
	border-top: 0px solid #000;
	transition: .5s;
	
}	

.sub-menu1 {
	
	background-color: none;
	position: absolute;
	width: 10%;
	display: none;
	opacity: 0;
	
}


.wrapper-2 ul li:hover .sub-menu1{
	transition:all .5s ease-out;
	position: absolute;
	display: block;
	border-radius: none;
	opacity: 1; /* This keeps the opacity at 1 after the animation has run (e.g. could be considered as the final or default stage of the element) */
   animation: opacity 100ms ease-in-out normal;
   -moz-animation: opacity 100ms ease-in-out normal;
   -ms-animation: opacity 100ms ease-in-out normal;
   -o-animation: opacity 100ms ease-in-out normal;
   -webkit-animation: opacity 100ms ease-in-out normal;    
  

}

@keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}
@-moz-keyframes opacity { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}
@-ms-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-o-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-webkit-keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}


.sub-menu1 ul{	
	width: 100%;
	
}
.dropdown-content {

	text-decoration: none;
	margin-top: 30px;
	list-style: none;
	margin-bottom: 30px;
}
.dropdown-content .currents {
font-weight: bold;
}


/*--barra fija arriba titulo imago--*/


.lazy {
	filter: blur(10px);
}



.menu {
	margin-right: 30%;
	display: flex;
	font-size: 15px;
	align-self: center;
	width: 40%;
	letter-spacing: 1px;
	margin-top: 20px;
	text-align: center;
}

.menu li{
	text-align: center;
	width: 100%;
}

.wrapper-2 {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%
}

#removeidtitle {
	margin-top: 20px;

}

.wrapper-2 .remove-title h1 {

	margin-left: 30px;
	
}


.items {
	width: auto;
	list-style: none;}

.items a{
	text-decoration: none;
	color:  white;}
	

.items a:hover{
	color: #f01f50;
	transform: scale(1.2);
	
}


.items .currents {
	color:#f01f50;
	
}
.currents li{
	font-weight: bold;
}

/*--barra fija arriba menu social icon--*/

.social-menu {
	margin-top: 20px;
	right: 20px;
	position: absolute;
	display: flex;
	align-self: center;
	justify-content: space-between;
	width: 8%;
	font-size: 15px;}

.social-icon {
	list-style: none;}

.social-icon a{
	color:  white;}

#instagram:hover i{	
	transform: scale(1.3);
	color: #f01f50;}

#facebook:hover i{	
	transform: scale(1.3);
	color: #f01f50;}

#linkedin:hover i{
	transform: scale(1.3);
	color: #f01f50;}

#github:hover i{
	transform: scale(1.3);
	color: #f01f50;}

.languagegap {
	display: flex;
	position: absolute;
	top: 20px;
	right: 20px;
}

.language {
	font-size: 13px;
	color: white;
	list-style: none;
}



/*--parametros generales del cuerpo de supervideo--*/


.sectiondos{
    display: flex;
    flex-direction: row;
}
.textandimage {
    background-color: black;
    height: 100vh;
}

.textandimagediv  {
   
    width: 50%;
   
}

.textandimagediv  p{
    margin-left: 10%;
    line-height: 3rem;
    text-align: center;
    justify-content: center;
    margin-top: 40vh;
    font-size: 1.4rem;
    width: 80%;
    color: white;
}

.supervideo {
    height: 100vh;
}
.videoloch {
    height: 100vh;
    object-fit: cover;

	width: 100%;
	
	
}



/*--tablet responsive--*/
@media only screen and (max-width: 1200px) and (min-width: 700px)  {
    .sectiondos{
        display: none;
    }

	.menu {
		margin-right: 15%;
		display: flex;
		font-size: 15px;
		align-self: center;
		width: 65%;
		letter-spacing: 1px;
		margin-top: 25px;
		text-align: center;
		letter-spacing: 1px;
	}
	
	.menu li{
		text-align: center;
		width: 100%;
	}
	
	.wrapper-2 {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 100%
	}

	.currentsphone .currents {
		color:#f01f50;;
	}
}

/*--mobile responsive--*/

@media only screen and (max-width: 850px) {
    .sectiondos{
        display: none;
    }

    * {
        
        font-family: 'Poppins', sans-serif;}
        .currentsphone .currents {
            color:#f01f50;;
        }
    .titlephone {
        margin-top: 2px;
        font-size: 50px;
        text-align: left;
        margin-left: 15px;
        color: black;
        text-decoration: none;
        z-index: 99999999;}
    
    .titlephone a {
        color: white;
        text-decoration: none;}
    
    .phonenavbar {
        display: flex;
        justify-content: space-between;
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 9999999;
        height: 80px;
        background: none;
        transition: .5s
    }
    .nav-toggle {
        display: none;
    }
    .nav-toggle-label {
        position: sticky;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        margin-right: 25px;
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background-color: white;
        height: 3px;
        width: 2em;
        border-radius: 2px;
        position: absolute;
        right: 0;}
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content:'';
        position: absolute;	
    }
    .nav-toggle-label span::before {
        bottom: 7px;
    }
    .nav-toggle-label span::after {
        top: 7px;
    }
    
    .navphone-3 ul{
        list-style-type:none;
        margin-top: 20px;
    }
    .navphone-3 {
        top: 80px;
        position: absolute;
        left: 0;
        background-color: none;
        opacity: .8;
        width: 100%;
        height: 100vh;
        transform: scale(1,0);
        transform-origin: top;
        transition: 400ms ease-in-out;	
    }
    .navphone-3 li {
    
        list-style-type:none;
        height: 2vh;
        margin-top: 3vh;
        margin-bottom: 3.5vh;
        }
    .navphone-3 li a {
        list-style-type:none;
        margin-right: 0;
        color: white;
        text-decoration: none;
        font-size: .8rem;
        opacity: 0;
        transition: opacity 50ms ease-in-out;
    }
    .navbar-noboots {
        display: none;}
    
    .nav-toggle:checked ~ nav {
        transform: scale(1,1);	}
    
    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 200ms ease-in-out 200ms;
    }
    .main {
        width: 96%;
        height: 100vh;}
    .hes-gallery {
        margin-top: 85px;
        display: block;
        width: 96%;
    }
    .img img{
        margin-top: 5px;
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;}
    
    
    .img {
        opacity: 1;
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    #noselectgrid {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */
    }
    
    .flex-icon {
        margin-right: 0;
        
        display: flex;
        justify-content: space-around;
        
    }
    
    .flex-icon {
        
        margin-top: 10px;
    
        
    }
    
    .social-icon i{
        margin-top: 10px;
    }
    
    
    .navphone-3 hr {
        transition: opacity 50ms ease-in-out;
        margin-top: 30px;
        
        margin-left: 0;
        margin-left: 10%;
        width: 80%;
        opacity: .3;
    }
    
    
    .img img:hover{
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: all .05s;
    
    }
    
    
    }